<h1 align="center">Listing all Articles</h1>

<div class="row col-md-2 offset-md-5 mt-5">
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles%>

<div class="row col-md-2 offset-md-5 mt-5">
    <%= will_paginate %>
</div>