<h1 align="center"> About page</h1>
<p> This is a blogging website created by 
<a class="link-color" href="https://github.com/SyLarY" target="_blank">Yayun (Kim) Yang</a>.</p>
<p>Github repo &#8631; <br/> 
<span class="offset-1"><a class="link-color" href="https://github.com/SyLarY/alpha-blog" target="_blank">The Alpha Blog</a><span></p>